body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

a {
  color: #00B7FF;
}

label {
  display:inline;
}

.saveButton,
[contenteditable] .editButton{
    display: none;
}

.editButton,
[contenteditable] .saveButton {
    display: inline; /* For IE */
    display: inline-block;
}

[contenteditable] {
    background: #ddddff;
}
